@import url("https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet");
* {
	box-sizing: border-box;
	 -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
body {
	margin: 0 auto;
	background-color: #ecf0f1;
	color: #2c3e50;
	padding-top: 60px;
}
.navbar {
	margin-bottom: 0;
}
.btn {
	border-radius: 0;
}
nav .navbar-toggle {
	color: #fff;
	background-color: #777;
}
.jumbotron {
	background: url("https://images.pexels.com/photos/201688/pexels-photo-201688.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat center/cover;
	padding: 20rem 5rem;
	color: #c0392b;
	background-attachment: fixed; 
}
.jumbotron h1 {
	color: #fff;
	padding: 5px;
	color: #fff;
	text-shadow: 5px 5px 5px #000;
}
.jumbotron small {
	color: #fff;
	text-shadow: 5px 5px 5px #000;
}
.gallery img {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 300px;
}
.gallery {
	padding: 0;
}	
.frame-person {
	position: absolute;
	width: 100%;
	height: 150px;
	background-color: none;
	top: 150px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
.frame-person:hover {
	cursor: pointer;
	background: rgba(255,255,255,.8);	
	transition: all ease .5s;
}
.frame-person h2:after {
	content: "Morbi sagittis diam sed est auctor, id elementum erat convallis. Sed ex enim, tempus at orci id, suscipit fermentum augue. Ut sed nunc mattis, mattis dolor ut, consectetur felis. Nulla molestie risus ut ipsum condimentum, at tempus purus aliquam. Nullam dignissim facilisis eros et tempus. Sed at luctus enim, eu accumsan lorem. Curabitur imperdiet placerat velit a tincidunt. Mauris vehicula ullamcorper ante. Ut tristique scelerisque felis sit amet posuere. Praesent dignissim dictum neque, at venenatis odio tempor at. ";
	transition: all ease .5s;
	position: relative;
 	display: block;
	font-size: 12px;
	top: 90px;
	color: black;
	padding-top: 10px;
	opacity: 0;
	letter-spacing: 1.5px;
}
.frame-person:hover h2:after{
	opacity: .7;
	top: 0;
}
.table h1, .my-form h1, .gallery h1 {
	position: relative;
	color: #e5bc29;	
	display: inline-block;
	margin-bottom: 5rem;
	margin-top: 5rem;
}
.table h1:after, .my-form h1:after, .gallery h1:after {
	content:"";
	position: absolute;
	background-color: #e5bc29;
	height: 2px;
	width: 50px;
	top: 50%;
}
.table h1:before, .my-form h1:before, .gallery h1:before {
	content:"";
	position: absolute;
	background-color: #e5bc29;
	height: 2px;
	width: 50px;
	top: 50%;
	margin: 0 0 0 -55px;
}
.media img {
	width: 200px;
	height: 200px;
}
.media-body p{
	height: 200px;
	width: auto;
	overflow: hidden;
}
#hamburger-menu {
	max-height: inherit;
}
.media {
	padding-bottom: 5rem;
	padding-top: 7rem;
	margin-top: 0;
}
.media-heading {
	color: #e5bc29;	
	margin-bottom: 2rem;
	margin-top: 2rem;
}	
form {
	padding-bottom: 5rem;
}
.form-background{
	background-color: rgba(255,255,255,0.3);
}
.pic1 {
	background: url("https://images.pexels.com/photos/7375/startup-photos.jpg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat center/cover ;
	background-attachment: fixed;
	
}
tr:nth-of-type(even) { 
  background: #e5bc29; 
}
.hovereffect {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 200px;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
 position: absolute; 
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
}
.hovereffect:hover .overlay {
  opacity: 0.6;
  transition: 2s;
}
.media .info {
	color: white;
	font-size: 2.5rem;
	text-decoration: none
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error {
	color: red;
	font-weight: bold;
	padding-top: 15px;
	font-size: 20px;
}
@media (max-width:768px) {
	.table h1, .my-form h1,.gallery h1 {
		font-size: 23px;
	}
}